.btn-warning:hover{
    background-color:rgb(240, 62, 98)  ;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{
        box-shadow: 1px 1px 43px purple;
    }
    to{
        box-shadow: 1px 1px 43px red;
    }
}